absl-py==0.9.0
altgraph==0.16.1
anaconda-client==1.2.2
apturl==0.5.2
astor==0.8.1
astunparse==1.6.3
attrs==20.1.0
beautifulsoup4==4.4.1
bleach==1.5.0
blis==0.4.1
boto==2.49.0
boto3==1.13.21
botocore==1.16.21
Brlapi==0.6.4
bz2file==0.98
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.4.5.1
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
cloudpickle==1.3.0
clyent==1.2.1
command-not-found==0.3
cycler==0.10.0
cymem==2.0.3
Cython==0.29.13
decorator==4.4.2
defer==1.0.6
dill==0.3.2
dis3==0.1.2
dm-tree==0.1.5
docutils==0.15.2
EditorConfig==0.12.2
en-core-web-sm==2.2.5
fastcache==1.1.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
future==0.18.2
gast==0.2.2
gensim==3.8.3
gevent==20.6.2
gin-config==0.3.0
google-api-core==1.22.1
google-api-python-client==1.11.0
google-auth==1.21.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
graphviz==0.14
greenery==3.2
greenlet==0.4.16
grpcio==1.29.0
gunicorn==20.0.4
gym==0.17.2
h5py==2.10.0
html5lib==0.9999999
httplib2==0.18.1
hyperopt==0.2.4
idna==2.9
ijson==3.0.4
importlib-metadata==1.6.0
itsdangerous==1.1.0
jax==0.1.51
jaxlib==0.1.41
Jinja2==2.10
jmespath==0.10.0
joblib==0.15.1
jsbeautifier==1.11.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.0.1
language-selector==0.1
lark-parser==0.8.8
louis==2.6.4
lrparsing==1.0.13
lxml==3.5.0
macholib==1.11
Mako==1.0.3
Markdown==3.2.2
MarkupSafe==1.1.0
matplotlib==2.2.2
mesh-tensorflow==0.1.16
mock==3.0.5
mpmath==1.1.0
murmurhash==1.0.2
neo4j-driver==4.1.0rc2
neobolt==1.7.17
networkx==2.4
nltk==3.5
nose==1.3.7
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.1.0
oneliner==0.2.1
opt-einsum==3.3.0
pandas==0.24.2
pefile==2018.8.8
pexpect==4.0.1
Pillow==3.1.2
plac==1.1.3
preshed==3.0.2
promise==2.3
protobuf==3.13.0
psutil==5.7.0
psycopg2-binary==2.8.3
ptyprocess==0.5
py2cytoscape==0.7.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycorenlp==0.3.0
pycups==1.9.73
pycurl==7.43.0
pydot==1.4.1
pydotplus==2.0.2
pyglet==1.5.0
pygobject==3.20.0
PyInstaller==3.4
pymongo==3.5.1
pyparsing==2.2.0
python-apt==1.1.0b1+ubuntu0.16.4.9
python-dateutil==2.7.3
python-debian==0.1.27
python-igraph==0.8.2
python-systemd==231
pytz==2018.4
pywal==3.0.1
pyxdg==0.25
PyYAML==5.3.1
regex==2020.5.14
regraph==2.0.1
reportlab==3.3.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.3
scikit-learn==0.20.2
scipy==1.4.1
sent2vec @ file:///home/yibsimo/sent2vec-master
sessioninstaller==0.0.0
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
smart-open==2.0.0
spacy==2.2.4
SQLAlchemy==1.2.14
srsly==1.0.2
stanfordcorenlp==3.9.1.1
stanza==0.3
sympy==1.6.1
system-service==0.3
tensor2tensor==1.11.0
tensorboard==1.15.0
tensorboard-plugin-wit==1.7.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-metadata==0.23.0
tensorflow-probability==0.6.0
termcolor==1.1.0
texttable==1.6.2
tfds-nightly==3.2.1.dev202007220105
thinc==7.4.0
tqdm==4.46.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.25.9
usb-creator==0.3.0
virtualenv==15.0.1
wasabi==0.6.0
Werkzeug==1.0.1
wrapt==1.12.1
xdiagnose==3.8.4.1
xkit==0.0.0
zipp==0.5.0
zope.event==4.4
zope.interface==5.1.0
